@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Figtree', sans-serif;
  background-color: #f4d04e;
}
.card {
  background-color: white;
  width: 384px;
  height: 522px;
  padding: 1.5em;
  border-radius: 20px;
  margin: 23vh auto;
  border: 1px solid black;
  box-shadow: 4px 4px 0px 0px #000000;
}
.card img {
  border-radius: 15px;
}
.card-text h1 {
  font-size: 24px;
  font-weight: 800;
}

.learning {
  background-color: #f4d04e;
  padding: 0.25em 0.75em;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 800;
  display: inline-block;
  margin-top: 1.5em;
}
.date {
  font-size: 0.875rem;
  color: #0c0c0c;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  color: #4b4949;
  line-height: 1.5;
}
.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 1.5em;
}
.author p {
  font-weight: 800;
  font-size: 14px;
}
.author img {
  width: 32px;
  height: 32px;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3em;
}
